html body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    min-width: 500px;
    padding: 5%;
    gap: 5%;
    background-color: darkgray;
    font-family: 'Courier New', monospace;
    font-size: 4rem;
    text-align: right;
    color: black;
}

.display {
    flex: 0;
    min-height: 20%;
    background-color: gainsboro;
}
.keypad {
    flex: auto;
    display: flex;
    gap: 4%;
    flex-wrap: wrap;
    min-height: 70%;
}

.key {
    flex: 0;
    min-width: 22%;
}